.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .date-label {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 10px;
  }
  
  .custom-datepicker {
    width: 150px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .vehicle-input {
    width: 144px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    position: relative;
    left: 50px;
  }
  
  .search-button2 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color:#0F2043;
    position: relative;
    left: 6px; 
  }
  
  .search-button:hover {
    color: #007bff; /* Change color on hover */
  }
  