.search-container3 {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }
  
  .search-label3 {
    font-size: 16px;
    font-weight: bold;
    color: #0F2043;
    margin-left: 15px;
  }
  
  .vehicle-input3 {
    width: 140px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
  }
  
  .search-button3 {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #0F2043;
    position: relative;
    right: 48px;
    top: 5px;
  }
  
  .search-button3:hover {
    color: #007bff; /* Change color on hover */
  }
  
  .search-icon {
    width: 20px;
    height: 20px;
  }
  