@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap');

.nav {
    display: flex;
    background-color: #0F2043;
    color: #ffffff;
    position: fixed; /* Fixed navbar */
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    font-size: 24px;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    padding-right: 30px;
}

.list , .links {
    gap: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;

}

.logOut{
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-right: 2rem;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;

}
.logout{
    background: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: right;
    margin-left: 30px ;
    justify-content: center;
    fill: #0F2043;
    stroke: white;
    margin: -20px;
}
.logout-btn{
    cursor: pointer;
}
.menuLink{
    text-align: center;
}
.wrap {
    width: 100%;
}

#menu, #close {
    cursor: pointer;
    display: none; /* Initially hide both menu and close icons */
}

.menuOrClose {
    display: none; /* Initially hidden on desktop */
    align-items: left;
}

h2 {
    margin-right: 2rem;
    display: block;
    align-items: left;

    font-family: 'Inknut Antiqua', serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 24px;
}

@media (max-width: 642px) {
    .list{
        display: none; 
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #0F2043;
        overflow-y: auto;
        height: calc(100vh - 40px); 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        font-size: 1.4rem;
    }
    .list.active  {
        display: flex;
        flex-direction: column; 
    }

    .list.active .links {
        display: flex;
        flex-direction: column; 
    }
    .menuOrClose {
        display: flex;
        /* Show menu toggle on mobile */
    }
}
