
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');
.container{
    max-height: 621px;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
    place-items: center;
    border-radius: 20px;
    border-style: none;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

h2{
    font-family: 'Inknut Antiqua';
    color: white;
    font-weight: bold;
}
h3{
    margin-top: -30px;
    color: white;
    font-family: 'Jaldi';
    font-weight: bold;
}

label{
    font-family: 'Jaldi';
    color: white;
    padding-left: 10px;
}
input{
    background-color: white;
    color: #3C8AA1;
    width: 300px;
    height: 45px;
    border-radius: 6px;
    border-style: none;
}

.login-btn{
    background-color: #F99304 ;
    border-style: none;
    border-radius: 6px;
    font-family: 'Jaldi';
    font-weight: bold;
    color: white;
    width: 300px;
    height: 45px;
    margin-top: 30px;
}
button:hover{
    background-color: #c07c1e;
}
.inputs{
    
    text-align: left;

}