@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@400;700&display=swap');


.tnav{
    display: flex;
    flex-direction: row;
    background-color: #0F2043;
    color: white;
    font-family: 'Jaldi';
    font-weight:bold ;

    font-size: 24px;
    width: 1200px;
    height: 55px;
    align-items: center;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    justify-content: left;
    position: relative; 
    padding-top: 5px;
    margin: -120px auto;
}

.lists{
    gap: 7.5rem;
    display: flex;
    margin-left: 6rem;
    margin-top:5px;
    align-items: left;
    place-content: center;
    cursor: pointer;
}

@media(max-width: 642px){
    .lists{
        top: 10%;
        left: 0;
        width: calc(100vw- 150px);
        background-color: #0F2043;
        overflow-y:hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        font-size: 1.4rem;
        padding: 2rem 8rem;
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }

    .tnav{
        display: flex;
        background-color: #0F2043;
        color: white;
        font-family: 'Jaldi';
        font-weight:bold ;
        
        width: 100vw;
        height: auto;
        
        
    }
}