.vehicleNo{
    display: flex;
    flex-direction: column;
}

#date{
    color: #0F2043;
    margin-left: 25px;
}
.history-search-btn{
    color: white;
    background-color:#E8AF30 ;
    border-style: none;
    border-radius: 6px;
    width: 300px;
    height: 48px;
    font-size: 20px;
    margin-left: 35px;
    margin-top: 200px;
}
.body-h {
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: center;
    height: 100%; 
    width: 100%; 
}

.box-h {
    width: 1200px;
    height: 860px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    background-color: #d7e1f4;
    justify-content: center;
    align-items: center;
    margin-top: 80px; 
}
.horizon-h{
    display: flex;
    flex-direction: row;
}
.vehicleNo-h label {
    color: #0F2043;
    align-items: center;
    position: relative;
}

.vehicleNo-h {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    color: #0F2043; 
    align-items: center;
    justify-content: center;
}

#vehicleno {
    margin-left: 40px;
    font-size: 20px;
    background-color: white;
    color: #0F2043;
    justify-content: left;
    align-items: left;
}

.maps-h {
    width: 800px;
    height: 600px;
    display: block;
    margin-top: 25px;
    margin-left: 25px;
    flex-direction: column;
    align-items: right;
    justify-content: center;
}

@media (max-width: 642px) {
    
    .vehicleNo-h {
        padding-top: 10px;
        display: flex;
        flex-direction: column;
        color: #0F2043; 
        align-items: center;
        justify-content: center;
        place-items: center;
    }
    .box-h {
        width: 100vw;
        height: calc(100vh + 150px);
        display: block;
        flex-direction: column;
        align-items: right;
        justify-content: right;
    }
    .horizon-h{
        display: flex;
        flex-direction: column;
    }
    .maps-h {
        padding-top: 20px;
        display: block;
        width: 350px;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        place-content: center;
    }
    .history-search-btn{
        color: white;
        background-color:#E8AF30   ;
        border-style: none;
        border-radius: 6px;
        width: 300px;
        height: 48px;
        font-size: 20px;
        margin-left: 35px;
        margin-top: 25px;
    }
    
}
