body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.create-password-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    text-align: center;
}

.create-password-image {
    width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.create-password-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.create-password-box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.create-password-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.create-password-box button:hover {
    background-color: #0056b3;
}

.create-password-box a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.create-password-box a:hover {
    text-decoration: underline;
}