body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    gap: 20px; /* Increased gap between image and login box */
}

.login-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-image {
    max-width: 750px;
    height: auto;   
}

.login-box {
    margin-right: 200px;
    flex: 1;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
    position: relative;
}

.login-box h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.remember-me input {
    margin-right: 10px;
    width: fit-content;
}

.login-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login-box button:hover {
    background-color: #0056b3;
}

.login-box a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.login-box a:hover {
    text-decoration: underline;
}
