body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.reset-password-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin : 0 auto 0 auto; 
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: center;
    overflow-y: hidden;
}

.reset-password-image {
    width: 400px;
    height: auto;
    margin: 40px 0px 20px 0px;

}

.reset-password-box h2 {
    margin-bottom: 20px;
    color: #333;
}

.reset-password-box input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-password-box button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.reset-password-box button:hover {
    background-color: #0056b3;
}

.reset-password-box a {
    display: block;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
}

.reset-password-box a:hover {
    text-decoration: underline;
}

input{
    padding: 8px;
    width:90%;
    box-shadow: #bebebe 5px 5px 20px;
    margin: 10px 0px;
    border-radius: 8px;
}